body {
  font-family: Arial, sans-serif;;
  background-color: #E17A13; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form__title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form__label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.login-form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-form__input:focus {
  border-color: #0D448C;
  outline: none;
}

.login-form__button {
  background-color: #0D448C; 
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-form__button:hover {
  background-color: #093a6b; 
}

.login-form__text {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.login-form__link {
  color: #0D448C;
  cursor: pointer;
  text-decoration: underline;
}

.signin-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signin-form__title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.signin-form__label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.signin-form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.signin-form__input:focus {
  border-color: #0D448C;
  outline: none;
}

.signin-form__button {
  background-color: #0D448C; 
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.signin-form__button:hover {
  background-color: #093a6b; 
}

/* volver log*/
.signin-form__text {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.signin-form__link {
  color: #0D448C; 
  cursor: pointer;
  text-decoration: underline;
}